<%- include('partials/header.ejs') %>

<div
  class="container text-center d-flex justify-content-center align-items-center"
>
  <div class="d-flex justify-content-center align-items-center gap-5 wrapper">
    <button
      id="today"
      type="button"
      class="btn-big btn btn-secondary position-relative"
    >
      <i class="bi bi-calendar-event"></i>
      <p class="fw-medium">Today</p>
    </button>
    <button
      id="work"
      type="button"
      class="btn-big btn btn-secondary position-relative"
    >
      <i class="bi bi-stickies"></i>
      <p class="fw-medium">Work</p>
    </button>
  </div>
</div>
<%- include('partials/footer.ejs') %>
